<div class="main_nav_container headroom">
  <nav id="main_nav">
    <div class="nav_logo">
      <h3><a href="/">Michael Erb</a></h3>
    </div>
    <nav class="nav_options">
      <div ng-repeat="item in navItems"><a href="{{item.url}}">{{item.label}}</a></div>
    </nav>
    <div class="mobile_nav">
      <div id="m_nav_btn" ng-class="{'close_btn':navModel}" ng-click="toggleNav()">
        <span>Menu</span>
        <div class="top"></div>
        <div class="mid"></div>
        <div class="bottom"></div>
      </div>
      <nav class="mobile_nav_options ng-class:{'mobile_nav_open':navModel}"  ng-click="toggleNav()">
        <div class="mobile_nav_options_inner">
          <div class="option" ng-repeat="item in navItems"><a href="{{item.url}}">{{item.label}}</a></div>
        </div>
      </nav>
      <script src="content/js/headroom.config.js"></script>
    </div>
  </nav>
</div>
