<header class="header_padding orange_solid">
  <div class="page_wrap wow fadeInDown">
    <h2>PlayGround</h2>
    <p></p>
  </div>
</header>
<div class="page_section gray_solid">
  <div class="page_wrap">
    <div class="side_card" ng-repeat="item in playGroundList">
      <div class="side_card_img">
        <a ng-href="{{item.link}}" target="_blank" rel="noreferrer">
          <img src="content/img/Codepen-Logo.png" ng-src="content/img/{{item.img}}" alt="{{item.name}} logo" />
        </a>
      </div>
      <div class="special_paragraph">
        <p><span><a ng-href="{{item.link}}" target="_blank" rel="noreferrer">{{item.name}}</a>,</span> {{item.notes}}</p>
      </div>
    </div>
  </div>
</div>

<div class="full_page_section orange_solid">
  <h2>My Work</h2>
  <div class="flex_container_center">
    <div class="flex_card" ng-repeat="myWork in myWorks">
      <div class="img_wrap">
        <a ng-href="{{myWork.url}}" target="_blank" rel="noreferrer">
          <img src="content/img/tiedwithstrings.png" ng-src="{{myWork.img}}" alt="tiedwithstrings.com" />
        </a>
      </div>
      <div class="card_text">
        <p><a ng-href="{{myWork.url}}" target="_blank" rel="noreferrer">{{myWork.title}}</a></p>
      </div>
    </div>
  </div>
</div>
