<header class="header_padding blue_solid">
  <div class="page_wrap wow fadeInDown">
    <h2>PlayGround</h2>
    <p></p>
  </div>
</header>
<div class="page_section gray_solid">
  <div class="page_wrap">
    <div class="side_card playground_list" ng-repeat="item in devContactList">
      <div class="side_card_img">
        <a ng-href="{{item.link}}" target="_blank" rel="noreferrer">
          <img src="content/img/Codepen-Logo.png" ng-src="content/img/{{item.img}}" alt="{{item.name}} logo" />
        </a>
      </div>
      <div class="special_paragraph">
        <p><span><a ng-href="{{item.link}}" target="_blank" rel="noreferrer">{{item.name}}</a>,</span> {{item.notes}}</p>
      </div>
    </div>
  </div>
</div>

<div class="page_section blue_solid">

</div>
