<header class="header_padding orange_solid">
  <div class="page_wrap wow fadeInDown">
    <h2>PlayGround</h2>
    <p></p>
  </div>
</header>
<div class="full_page_section gray_solid">
  <div class="page_wrap">
    <div class="about_me">
      <div class="about_img">
        <a href="http://codepen.io/merb/" target="_blank" rel="noreferrer">
          <img src="content/img/Codepen-Logo.png" alt="Code pen logo" />
        </a>
      </div>
      <div class="about_me_content">
        <p><span>Hey,</span> check out my pens on <a href="http://codepen.io/merb" target="_blank" rel="noreferrer">codepen.io</a>
        I am always adding a new project or experiment.</p>
      </div>
    </div>
  </div>
</div>
