header.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
}
.action_item_box {
	width: 100%;
	max-width: 600px;
	padding: 3em;
	margin: 0 5em 0 0;
	position: relative;
	z-index: 5;
	align-self: center;
}
.action_item_box h2 {
	margin: 0;
	text-align: left;
	font-size: 3em;
	text-shadow: 1px 1px 3px rgba(41,41,41,0.5);
	font-family: ;
	font-weight: bold;
}

.hero_images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}
.b_img {
	margin: 0;
	padding: 0;
	position: absolute;
}
.b_img1 {
	top: 10%;
	left: 5%;
	width: 6em;
	transform: rotate(24deg);
}
.b_img2 {
	top: 60%;
	left: -5%;
	width: 20em;
	transform: rotate(-28deg);
	animation-fill-mode: both;
	animation: img2_rotation 10s linear infinite;
}
@keyframes img2_rotation{
    0% {transform: rotate(-28deg);}
    12.5% {transform: rotate(-26deg);}
		25% {transform: rotate(-28deg);}
		37.5% {transform: rotate(-22deg);}
		50% {transform: rotate(-28deg);}
		62.5% {transform: rotate(-26deg);}
		75% {transform: rotate(-28deg);}
		87.5% {transform: rotate(-22deg);}
    100% {transform: rotate(-28deg);}
}
.b_img3 {
	top: 60%;
	left: 45%;
	width: 20em;
	transform: rotate(4deg);
}
.b_img4 {
	top: 13%;
	left: 90%;
	width: 2em;
	transform: rotate(-18deg);
	animation-fill-mode: both;
	animation: img4_rotation 7s ease-in-out infinite;
}
@keyframes img4_rotation{
    0% {transform: rotate(-12deg);}
    12.5% {transform: rotate(-18deg);}
		25% {transform: rotate(-12deg);}
		37.5% {transform: rotate(-24deg);}
		50% {transform: rotate(-12deg);}
		62.5% {transform: rotate(-18deg);}
		75% {transform: rotate(-12deg);}
		87.5% {transform: rotate(-24deg);}
    100% {transform: rotate(-12deg);}
}
.b_img5 {
	top: 40%;
	left: 12%;
	width: 4em;
	transform: rotate(-14deg);
}
.b_img6 {
	top: 83%;
	left: 23%;
	width: 4em;
	transform: rotate(-38deg);
}
.b_img7 {
	top: 8%;
	left: 22%;
	width: 4em;
	transform: rotate(39deg);
}
.b_img8 {
	top: 10%;
	left: 70%;
	width: 6em;
	transform: rotate(18deg);
}
.b_img9 {
	top: 44%;
	left: 75%;
	width: 10em;
	transform: rotate(34deg);
}
.b_img10 {
	top: 43%;
	left: 96%;
	width: 2em;
	transform: rotate(9deg);
}

/*Add custom cursor so it auto inherits font styles*/
.typed {
	position: relative;
}
.typed::after {
	content: '|';
	display: inline;
	position: relative;
	top: -0.1em;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
  opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.flex_container_center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
}

/*-Tools I use*/
.flex_container_around {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
}
.flex_box_sm {
	text-align: center;
	flex: 0 0 15em;
}
.tool_img {
	width: 15em;
	-webkit-filter: drop-shadow(5px 5px 5px #777);
	filter: drop-shadow(5px 5px 5px #777);
}
.tools {
	position: relative;
	margin: 2em;
}
.tools h3 {
	margin: 1em;
	position: relative;
	font-weight: bold;
}
/*tools toggle btn*/
.tools_toggle {
	cursor: pointer;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	top: -0.2em;
	left: 93%;
	background: rgba(71,175,194,1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	transition: all 0.3s;
}
.tools_toggle div {
	border: 2px solid #fff;
	border-radius: 20px;
	width: 0.8em;
	height: 0.1px;
	position: absolute;
	align-self: center;
}
.tools_toggle div:last-child {
	transform: rotate(90deg);
}

.me_show .tools_toggle {
	transform: rotate(225deg);
}

.tool_info_box {
	padding: 0;
}

.tools_info {
	opacity: 0;
	transition: all 0.3s;
	position: 0;
	line-height: 0;
}
.me_show .tools_info {
	visibility: visible;
	opacity: 1;
	height: auto;
	padding: 1.2em;
	margin-bottom: 1.3em;
	line-height: 1.3;
	background: #fff;
	border-radius: 3px;
	color: #414141;
}

/*Tools toogle aniamtions*/
.tool_info_box.ng-hide-remove {
	/* when showing */
	animation:0.3s show_fadIn ease;
}

.tool_info_box.ng-hide-add {
	/* when hiding */
	animation:0.3s show_fadIn ease;
	-webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@keyframes show_fadIn {
	0% {opacity: 0;height: 0;};
	100% {opacity: 1;height: 100%};
}

/*about me*/
.about_me {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about_me .about_img {
	flex: 0 0 200px;
	display: flex;
	justify-content: center;
}
.about_me .about_img img {
	border-radius: 50%;
	width: 100%;
	align-self: center;
}
.about_me .about_img a {
	transition: filter 0.3s;
}
.about_me .about_img a:hover {
	filter: drop-shadow(3px 3px 6px #777);
}

.about_me_content {
	flex: 1 1 15em;
	align-self: center;
	padding: 2em;
}
.about_me_content span {
	font-size: 2em;
	line-height: 1;
}

/*my work*/
.flex_card {
	max-width: 25em;
	margin: 3em;
}
.img_wrap {
	overflow: hidden;
	cursor: pointer;
}
.img_wrap img {
	transition: all 0.3s;
}
.img_wrap img:hover {
	transform: scale(1.3) rotate(10deg);
}
.card_text {
	text-align: center;
	padding: 1.4em 0;
}
.card_text a {
	color: rgb(220,220,220);
}

.contact_us_form {
	width: 50%;
	min-width: 180px;
	max-width: 500px;
	margin: 0 auto;
}

@media only screen and (max-width:1200px){

}
@media only screen and (max-width: 600px){
	header.hero {
		justify-content: center;
	}
	.action_item_box {
		margin: 0;
	}
	.action_item_box h2 {
		font-size: 2em;
	}
	.hero_images {
		display: none;
	}
}
@media only screen and (max-width: 500px){
	.believe_box {
		padding: 0;
	}
}
